/*FONT FAMILY*/

body {
  font-family: "Open Sans", sans-serif;
  font-family: "Raleway", sans-serif;
}

/* ROOT */

:root {
  --mainBackground: #ffffff;
  --mainBorder: #00000029;
  --mainText: #000000;
  --buttonAndLogo: #08a6e4;
  --secondaryText: #a5a5a5;
  --buttonShadow: #07ace629;
  --redElements: #fb3b64;
  --greenElements: #55dfb4;
  --outsideBorder: #f7f7f7;
  --insideBorder: #e8e9ed;
  --phoneBlue: #07ace6;
  --pricingSection: #13253b;
  --pricingSectionShadow: #f9043629;
  --secondaryRed: #eb476e;
  --pricingSectionButtonShadow: #ff091129;
  --contactLines: #95989a;
  --consentText: #707070;
  --color-primary-shadow: #07ace629;

  /* FONTS */

  /* Nav */

  --fontNavLogo: normal normal 300 32px/37px Raleway;
  --fontNavLinks: normal normal bold 11px/15px Open Sans;
  --fontNavLinksHover: normal normal bold 11px/15px Open Sans;

  /* Hero */

  --fontHeroTitle: normal normal bold 49px/57px Raleway;
  --fontHeroText: normal normal normal 16px/22px Open Sans;
  --fontHeroButton: normal normal bold 16px/22px Open Sans;

  /* Statistics */

  --fontStatisticsTitle: normal normal normal 36px/42px Raleway;
  --fontStatisticsText: normal normal normal 17px/20px Raleway;
  --fontStatisticsNumber: normal normal 800 20px/24px Raleway;

  /* Benefits */

  --fontBenefitsTitle: normal normal normal 36px/42px Raleway;
  --fontBenefitsText: normal normal normal 16px/22px Open Sans;

  /* Pricing */

  --fontPricingTitle: normal normal normal 36px/42px Raleway;
  --fontPricingBoxTitle: normal normal bold 20px/1px Raleway;
  --fontPricingBoxPrice: normal normal 300 46px/2px Open Sans;
  --fontPricingBoxText: normal normal normal 14px/41px Open Sans;
  --fontPricingBoxLimited: normal normal bold 12px/1px Raleway;

  /* Contact */

  --fontContactTitle: normal normal normal 49px/57px Raleway;
  --fontContactDescription: normal normal normal 16px/22px Open Sans;
  --fontContactFormTitle: normal normal bold 11px/15px Open Sans;
  --fontContactFormConsent: normal normal normal 12px/17px Open Sans;

  /* Footer */
  --fontFooterTitle: normal normal 300 26px/30px Raleway;
  --fontFooterDescription: normal normal normal 11px/15px Open Sans;
}

/* BOX SIZING */
* {
  box-sizing: border-box;
}

/* SCROLL BEHAVIOR */

html {
  scroll-behavior: smooth;
}

/* MAIN CONTAINER */

.container {
  width: 1352px;
  margin: 0 auto;
}

/* HEADER */

header {
  width: 100%;
  height: 70px;
  background-color: var(--mainBackground);
  box-shadow: 0px 3px 6px #00000029;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header__logo {
  font: var(--fontNavLogo);
  color: var(--buttonAndLogo);
}

.navbar {
  display: flex;
}

.navbar__link {
  font: var(--fontNavLinks);
  color: var(--fontNavLinks);
  color: var(--secondaryText);
  text-transform: uppercase;
  border-bottom: 4px solid transparent;
  letter-spacing: 3.28px;
  text-decoration: none;
  padding: 28px 18px 23px;
}

.navbar__link:hover {
  color: var(--fontNavLinksHover);
  border-color: var(--buttonAndLogo);
}

.navbar__link:active {
  color: var(--fontNavLinksHover);
  border-color: var(--buttonAndLogo);
  border-bottom: 4px solid var(--buttonAndLogo);
}

.navbar__item {
  padding: 0 26px;
}

.navbar__item:last-child {
  padding-right: 0;
}

/* HERO */

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__container {
  margin-top: 130px;
  text-align: center;
}

.hero__title {
  font: var(--fontHeroTitle);
  color: var(--mainText);
  margin-bottom: 20px;
}

.hero__text {
  font: var(--fontHeroText);
  color: var(--mainText);
  margin-bottom: 38px;
}

.hero__img {
  width: 100%;
  height: auto;
}

.btn {
  font: var(--fontHeroButton);
  color: #ffffff;
  border-radius: 40px;
  padding: 16px 65px;
  display: flex; /* Use flex display */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-decoration: none;
}

.btn:hover {
  background-color: rgba(8, 166, 228, 0.7);
  transition: 0.3s ease-in-out;
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
}

.btn--primary {
  background-color: var(--buttonAndLogo);
  border-radius: 40px;
  box-shadow: 5px 10px 14px var(--buttonShadow);
  text-decoration: none;
}

.btn--large {
  padding: 22px 157px;
}

/* STATISTICS */

.statistics {
  margin-top: 100px;
}

.statistics__title {
  font: var(--fontStatisticsTitle);
  color: var(--mainText);
  text-align: center;
}

.statistics__container {
  display: flex;
  justify-content: space-between;
  margin: 100px auto 120px; /* NEED CHANGE */
  max-width: 800px;
}

.statistics__single {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  width: 170px;
  font: "Raleway", sans-serif;
}

.statistics__number {
  font: var(--fontStatisticsNumber);
  color: var(--mainText);
  margin-top: 23px;
}

.statistics__text {
  font: var(--fontStatisticsText);
  color: var(--secondaryText);
  text-align: center;
  margin-top: 19px;
}

.statistics__circle {
  width: 63px;
  height: 63px;
  border-radius: 50%;
  position: relative;
}

.statistics__img {
  position: absolute;
}

.statistics__single:nth-child(1) .statistics__circle {
  background-color: var(--redElements);
}

.statistics__single:nth-child(2) .statistics__circle {
  background-color: var(--buttonAndLogo);
}

.statistics__single:nth-child(3) .statistics__circle {
  background-color: var(--greenElements);
}

.statistics__single:nth-child(2) .statistics__img {
  left: 30%;
  top: 20%;
}

.statistics__single:nth-child(1) .statistics__img {
  top: 5%;
}

.statistics__single:nth-child(3) .statistics__img {
  top: 5%;
}

/* BENEFITS */

.benefits {
  padding: 100px 0;
  background-color: var(--outsideBorder);
}

.benefits__container {
  padding: 0 100px;
}

.benefits__single {
  background-color: var(--mainBackground);
  border: 1px solid var(--insideBorder);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 37px;
  border-radius: 5px;
}

.benefits__text {
  max-width: 415px;
  margin: 90px 36px;
}

.benefits__text::after {
  content: "";
  width: 332px;
  height: 4px;
  background-color: var(--redElements);
  display: block;
  margin-top: 50px;
}

.benefits__title {
  font: var(--fontBenefitsTitle);
  color: var(--mainText);
}

.benefits__description {
  margin-top: 30px;
  line-height: 1.375rem;
  font: var(--fontBenefitsText);
  color: var(--mainText);
}

.benefits__image {
  position: relative;
}

.benefits__image img {
  position: relative;
  z-index: 2;
}

.benefits__single--notebook {
  accent-color: var(--redElements);
}

.benefits__single--notebook .benefits__image {
  margin-right: 117px;
  margin-bottom: 38px;
}

.benefits__single--notebook .benefits__image::before {
  content: "";
  width: 180px;
  height: 180px;
  background-color: var(--redElements);
  display: block;
  border-radius: 40px;
  position: absolute;
  right: 0;
  top: -40px;
  transform: rotate(45deg);
}

.benefits__single--notebook .benefits__image img {
  width: 386px;
  height: auto;
}

.benefits__single--phone {
  color: var(--mainText);
  flex-direction: row-reverse;
  padding: 0 20px 0 70px;
}

.benefits__single--phone .benefits__image::before {
  content: "";
  width: 320px;
  height: 320px;
  background-color: var(--buttonAndLogo);
  display: block;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 3px;
}

.benefits__single--phone .benefits__image img {
  width: 426px;
  height: auto;
}

.benefits__single--phone .benefits__text {
  margin: 70px 0;
}

.benefits__single--phone .benefits__text::after {
  content: "";
  width: 332px;
  height: 4px;
  background-color: var(--buttonAndLogo);
  display: block;
  margin-top: 50px;
}

.benefits__double {
  color: var(--mainText);
  display: flex;
}

.benefits__double > div {
  margin-bottom: 0;
}

.benefits__single--solo {
  max-width: 620px;
}

.benefits__single--solo .benefits__text {
  max-width: none;
  margin: 70px 35px;
}

.benefits__single--image {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--greenElements);
  border: none;
  margin-left: 60px;
}

.benefits__single--image img {
  width: 295px;
  height: auto;
  margin-top: 55px;
}

.benefits__double .benefits__text::after {
  content: "";
  width: 332px;
  height: 4px;
  background-color: var(--greenElements);
  display: block;
  margin-top: 50px;
}

/* PRICING */

.pricing {
  margin: 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pricing__title {
  font: var(--fontPricingTitle);
  color: var(--mainText);
  text-align: center;
}

.pricing__boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.pricing__box {
  width: 372px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 18x;
  border: 1px solid var(--accent-color);
}

.pricing__box:hover {
  box-shadow: 3px 6px 9px var(--accent-color);
  transition: 0.3s ease-in-out;
}

.pricing__details {
  margin-top: 34px;
  margin-bottom: 60px;
  text-align: center;
}

.pricing__type {
  font-size: 1.25rem;
  font-family: var(--font-raleway);
  font-weight: 700;
}

.pricing__cost {
  font-size: 2.875rem;
  font-family: var(--font-open-sans);
  font-weight: 300;
  margin-top: 25px;
  color: var(--accent-color);
}

.pricing__offer {
  text-align: center;
  margin-top: 15px;
  font-size: 0.75rem;
  font-family: var(--font-raleway);
  font-weight: 700;
}

.pricing__items {
  text-align: center;
}

.pricing__item {
  font-size: 14px;
  margin-bottom: 20px;
}

.pricing__item::before {
  content: "";
  width: 11px;
  height: 11px;
  display: inline-block;
  margin-right: 10px;
  background-image: url("../assets/Ckechmark-1.svg");
}

.pricing__item--not::before {
  background-image: url("../assets/Close.svg");
}

.pricing__box .btn {
  position: relative;
  bottom: -25px;
  font-size: 0.8125rem;
  background-color: var(--accent-color);
}

.pricing__box .btn:hover {
  background-color: var(--accent-color);
  box-shadow: 3px 6px 9px var(--accent-color);
  transition: 0.3s ease-in-out;
}

.pricing__box--basic {
  --accent-color: var(--redElements);
}

.pricing__box--basic .pricing__cost {
  margin-bottom: 30px;
}

.pricing__box--professional {
  --accent-color: var(--buttonAndLogo);
  width: 400px;
  margin: 0 40px;
  box-shadow: 5px 1px 27px var(--color-primary-shadow);
}

.pricing__box--professional .pricing__type {
  font-size: 1.3125rem;
}

.pricing__box--professional .pricing__item {
  margin-bottom: 25px;
}

.pricing__box--premium {
  --accent-color: var(--greenElements);
}

/* CONTACT */

.contact {
  padding: 80px 100px 100px;
  display: flex;
  justify-content: center;
}

.contact__column {
  width: 50%;
}

.contact__title {
  font: var(--fontContactTitle);
  color: var(--mainText);
}

.contact__description {
  font: var(--fontContactDescription);
  color: var(--mainText);
  margin: 22px 0 42px;
}

.contact__details {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.details__item {
  text-decoration: none;
  color: var(--secondaryText);
}

.details__item:hover {
  color: var(--phoneBlue);
}

.details__item:first-of-type {
  margin-right: 20px;
}

.details__item img {
  margin-right: 10px;
}

.contact__form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group:first-of-type {
  margin-bottom: 42px;
}

.form__label {
  font: var(--fontContactFormTitle);
  text-transform: uppercase;
  color: var(--phoneBlue);
  line-height: 0.9rem;
  letter-spacing: 3.28px;
}

.form__input {
  border: none;
  border-bottom: 1px solid var(--secondaryText);
  line-height: 2.625rem;
}

.consent {
  margin-top: 30px;
}

.form__checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1.375rem;
}

.form__checkbox input {
  position: absolute;
  opacity: 1;
  cursor: pointer;
  height: 0;
  width: 0;
}

.form__checkbox .checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: var(--mainBackground);
  border: 1px solid var(--secondaryText);
  border-radius: 4px;
}

.form__checkbox input:checked ~ .checkbox {
  background-image: url(../assets/Checkmark.svg);
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
}

.form__checkbox .consent-text {
  margin: 0 10px;
  font-size: 0.75rem;
  color: var(--secondaryText);
  line-height: 17px;
}

.contact__form .btn {
  font-size: 0.8125rem;
  padding: 15px 90px;
  align-self: flex-end;
  margin-top: 20px;
  border: none;
}

.contact__form .btn:hover {
  background-color: var(--phoneBlue);
  box-shadow: 3px 6px 9px var(--phoneBlue);
  transition: 0.3s ease-in-out;
}

/* FOOTER */

footer {
  background-color: var(--mainBackground);
  box-shadow: 0px -5px 40px #00000029;
  width: 100%;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px;
}

.footer__title {
  display: flex;
  flex-direction: column;
}

.footer__logo {
  font: var(--fontFooterTitle);
  color: var(--buttonAndLogo);
  text-decoration: none;
}

.footer__description {
  font: var(--fontFooterDescription);
  color: var(--secondaryText);
  margin-top: 6.52px;
}

.footer__social-media {
  display: flex;
}

.social-media__icon:first-of-type {
  margin-right: 20px;
}
